
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma za Kreiranje Novog Korisnika</title>
    <link rel="stylesheet">
</head>
<body>
    <div class="background-image">
    <div class="form-container">
        <h1>Register</h1>
        <form id="userForm">
            <div class="form-group">
                <label for="name">Ime:</label>
                <input type="text" id="name" name="name" [(ngModel)]="userRegister.name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="userRegister.email" required>
            </div>
            <div class="form-group">
                <label for="password">Lozinka:</label>
                <input type="password" id="password" name="password" [(ngModel)]="userRegister.password" required>
            </div>
    
            <button type="submit" (click)="registerUser()">Kreiraj Korisnika</button>
        </form>
    </div>
</div>
</body>
</html>
