<section class="bg-color">
    <div class="container">
        <div class="title">
            <p>Following you around !</p>
            <h1><span>Forever</span>Traveller</h1>
        </div>
    </div>

<app-brosura></app-brosura>

<div class="container">
    <h1>Temperature Dashboard</h1>
    <div class="selector">
      <label for="city">Select City:</label>
      <select id="city" [(ngModel)]="selectedCity" (change)="onCityChange($event)">
        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
      </select>
    </div>
  
    <div class="temperature-container" *ngIf="temperatures">
      <div class="temperature-item" *ngFor="let time of temperatures.daily.time; let i = index">
        
            <div class="time">{{ formatDateTime(time) }}</div>
            <div class="temperature">{{ temperatures.daily.temperature_2m_min[i] }} °C</div>
            <div class="temperature">{{ temperatures.daily.temperature_2m_max[i] }} °C</div>
      </div>
    </div>
  </div>
  

</section>
<!-- 
<app-aranzman></app-aranzman>
-->
